 {% extends 'base.html.twig' %}
 {% form_theme form 'bootstrap_4_layout.html.twig' %}

 {% block body %}

    {% if edit %}
        <h1>Editer un utilisateur </h1>
    {% else %}
        <h1>Ajouter un utilisateur </h1>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

 {% endblock body %}